# -- Configuration for ingress K8S resource to be created.
ingress:

  # -- Whether to create a dedicated ingress K8S resource for external access to the axelix master ui. Default is 'true'.
  # Switch to 'false' if you already have an ingress to add rules into. In case enabled is left as 'true', then please
  # ensure the correct ingress controller is installed in the cluster. The default expected ingress controller is nginx.
  enabled: true

  # -- Name of the created ingress.
  name: "axelix-master"

  # -- Namespace where the ingress is supposed to be created. If not set, defaults to the release namespace.
  namespace: ""

  # -- Class name of the ingress. Default is 'nginx'.
  className: "nginx"

  # -- Additional annotations for ingress, if any.
  annotations: {}

  # -- Host of the ingress. By default, the host is empty.
  host: ""

  # -- TLS settings for the provided host.
  tls:
    # -- Whether tls is enabled for the host. Default is false.
    enabled: false

    # -- The name of the secret that stores the certificate and private key for it.
    secretName: ""

rbac:

  # -- The namespace where monitored pods reside. Inside this namespace will also role and role-binding
  # will be created if 'autoCreateRole = true'. The default is 'default'.
  targetNamespace: "default"

  # -- Whether to create the Role and Role-Binding for Axelix service account. Default is 'true'. If overridden
  # to false, then the end-user MUST ensure that Axelix service account either has required privileges to access the
  # K8S KubeApi server, or the Axelix is not deployed under the discovery mode.
  autoCreateRole: true

# -- Array of secret names to be used when pulling the Axelix images
imagePullSecrets: []

# -- The name to be given to deployment and container inside pods.
name: "axelix-master"

# -- Configuration for the service account to be attached to Axelix Master pods.
serviceAccount:

  # -- Name of the service account to create (if 'create = true') or name of an existing service account to be mounted into Axelix pods.
  # Default: the same name as the backend deployment.
  name: "axelix-master"

  # -- Whether to create service account for the backend pods or rely on an existing one. Default - true (i.e. a new service
  # account should be created).
  create: true

  # --  Namespace of the service account, where if not creating, existing service account resides. If new
  # service account will be created (see "create" setting), then this setting represents the name of the
  # namespace where a new service account will be created. If not set, defaults to the release namespace.
  namespace: ""

  # -- Annotations for the newly created service account. By default, there are no annotations. No-Op if "create: false".
  annotations: {}

  # -- Whether to automount the service account into pod or not. Default is true.
  automount: true

# -- Custom pod spec.
pod:
  # -- Security context of the axelix master pods.
  securityContext: {}
  # -- Custom pod labels.
  labels: {}
  # -- Custom pod annotations, if any. By default, pod has no annotations.
  annotations: {}

# -- Custom deployment config.
deployment:

  # -- The name to be given to axelix master deployment.
  name: "axelix-master"

  # -- Custom labels for the K8S Axelix Master deployment
  labels: {}

  # -- Custom annotations for the K8S Axelix Master deployment
  annotations: {}

image:

  # -- Reference to the axelix master image to be used. Can either be a human-readable "tag" like 1.0.0, or
  # might be the sha256 image hash, like sha256:<SHA_VALUE>
  ref: "1.0.0"

  # -- Name of the image, including repository prefix, like "ghcr.io/axelixlabs/axelix"
  name: "ghcr.io/axelixlabs/axelix"

  # -- Image pull policy
  pullPolicy: "IfNotPresent"

# -- Liveness probes configuration
liveness:
  delay: 15
  failureThreshold: 10
  timeoutSeconds: 10
  period: 5
# -- Readiness probes configuration
readiness:
  delay: 15
  failureThreshold: 10
  timeoutSeconds: 10
  period: 5

# -- Resource quotas (limits and requests of memory and cpu) to be used by axelix master pods.
resources: {}

# -- Additional volume mounts to be used (expecting a corresponding "volume" definition)
volumeMounts: []

# -- Additional volumes to be attached to the axelix master pods
volumes: []

# -- The node selector for the Axelix Master pods. By default, any node is capable to run the pod.
nodeSelector: {}

# -- Custom affinity rules for the Axelix Master pods. By default, there are no rules.
affinity: {}

# -- Array of tolerations for the Axelix Master. By default, pods do not define any tolerations.
tolerations: []

# -- Configuration of the K8S Service resource for the Axelix Master.
service:

  # -- Whether the service should be crated or not. The default is true. By default, the standard ClusterIP service
  # will be created.
  create: true

  # -- The name of the service to be used.
  name: "axelix-master"

  # -- Port configuration of the K8S service allocated for the Axelix Master. 8080 by default.
  port:

    # -- The name of the port.
    name: http

    # -- The target port of the ClusterIP service.
    target: 8080

    # -- The source port of the ClusterIP service.
    source: 8080
