---
{{- if $.Values.backend.serviceAccount.create -}}
{{- with $.Values.backend }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "master.backend.serviceAccountName" $ }}
  labels:
    {{- include "master.backend.labels" $ | nindent 4 }}
  {{- with .serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
automountServiceAccountToken: {{ .serviceAccount.automount }}
{{- end }}
{{- end }}
---
{{- if $.Values.frontend.serviceAccount.create -}}
{{- with $.Values.frontend }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "master.frontend.serviceAccountName" $ }}
  labels:
    {{- include "master.frontend.labels" $ | nindent 4 }}
  {{- with .serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
automountServiceAccountToken: {{ .serviceAccount.automount }}
{{- end }}
{{- end }}
