name: Release Pipeline

on:
  push:
    branches:
      - main

# Nullify permissions for jobs by default
permissions: {}

jobs:
  release-helm-chart:
    permissions:
      contents: write # to push chart release and create a release (helm/chart-releaser-action)
      packages: write # needed for ghcr access

    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Helm
        uses: azure/setup-helm@v4.3.0
        with:
          version: v3.14.0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      # Generate README from README.mg.gotmpl
      - name: Generate README via helm-docs
        uses: losisin/helm-docs-github-action@v1
        with:
          chart-search-root: charts
          # Version of the helm-docs to be used
          # Waiting for https://github.com/losisin/helm-docs-github-action/pull/364 to be merged
          # version: 1.14.2

      # Generate values.schema.json from helm
      - name: Generate values.schema.json
        uses: losisin/helm-values-schema-json-action@v2
        with:
          # Use '--' style comments for description purposes
          useHelmDocs: true
          # Working around bug https://github.com/losisin/helm-values-schema-json-action/pull/408
          values: values.yaml

      - name: Copy license
        run: cp LICENSE charts/axelix

      - name: Remove template file before release
        run: rm charts/axelix/README.md.gotmpl

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          charts_dir: charts
          config: cr.yaml
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_SKIP_EXISTING: "true"
